
.flexhome{
    position: relative;
    background-color: rgb(249,249,249);
}

.home-left{
    position: fixed;
    z-index: 10;
    height: 100%;
}
.header-img{
    position: relative;
    height: 220px;
    border-bottom: 1px solid #fff;
}
.header-img img{
    position: absolute;
    width: 130px;
    height: 130px;
    top:50%;
    left:50%;
    margin:-65px 0 0 -65px;
    border-radius: 50%;
    transition: all .5s;
}
.header-img img:hover{
    transform: rotate(360deg) scale(1.1);
}

.home-center{
    /* width: 860px; */
    background-color: rgb(241,243,244);
}

.home-right{
    padding:40px 20px 20px 20px;
    height: 100%;
}
.home-right-ul{
    background-color: #fff;
    margin-top: 10px;
}
.home-right-li{
    height: 20px;
    padding: 15px;
    font-size: 14px;
}
.home-right-li span{
    /* display: inline-block; */
    padding: 3px 7px;
    background-color: #cfdadd;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
    float: right;
}


@media screen and (max-width:480px){
    .home-left,.home-center,.home-right{
        width: 100%;
    }
    .home-center{
        order: -1;
    }
}
 @media screen and (max-width:768px){
.flexhome{
    width: 100%;
}
.home-left{
    /* display: none; */
    transition: all .5s;
    margin-top: 150px;
    position: absolute;
    width: 50%;
    left: -50%;
    height: calc(100% - 214px);
    /* height: auto; */
    background-color: rgb(249,249,249);
}
.home-center{
    width: 100%;
}
.home-right{
    width: 100%;
    height:auto;
}
}

@media (min-width: 768px){
.flexhome{
    width: 750px;
}
.home-left{
    width: 200px;
}
.home-center{
    width: 550px;
    margin-left: 200px;
}
.home-right{
    width: 550px;
    height:auto;
    margin-left: 200px;
}
}
@media (min-width: 992px){
.flexhome {
    width: 970px;
}
.home-center{
    width: 530px;
    margin-left: 220px;
}
.home-left{
    width: 220px;
}
.home-right{
    width: 180px;
    margin-left: 0px;
}
}

@media (min-width: 1200px){
.flexhome {
    width: 1170px;
}
.home-center{
    width: 690px;
    margin-left: 220px;
}
.home-left{
    width: 220px;
}
.home-right{
    width: 220px;
    margin-left: 0px;
}
}

@media (min-width: 1800px){
.flexhome {
    width: 1300px;
}
.home-center{
    width: 820px;
    margin-left: 220px;
}
.home-left{
    width: 220px;
}
.home-right{
    width: 220px;
    /* margin-left: 960px; */
}
}

